[submodule "KnowledgeRepresentation/projects/test-assignment"]
	path = KnowledgeRepresentation/projects/test-assignment
	url = https://gitlab.com/evemorgen/test-assignment.git
[submodule "KnowledgeRepresentation/projects/gangs-wars"]
	path = KnowledgeRepresentation/projects/gangs-wars
	url = https://gitlab.com/evemorgen/gangs-wars.git
[submodule "AdvancedDatabaseSystems/project"]
	path = AdvancedDatabaseSystems/project
	url = https://gitlab.com/kis-agh/ads18-osm-neo4j.git
[submodule "EvolutionaryAlgorithms/Ea-Project"]
	path = EvolutionaryAlgorithms/Ea-Project
	url = https://github.com/evemorgen/Ea-Project.git
[submodule "ModelingOfPhysicalSystems/project"]
	path = ModelingOfPhysicalSystems/project
	url = https://github.com/evemorgen/physics_assignment.git
[submodule "EvolutionaryAlgorithms/lab5/pyage-elect"]
	path = EvolutionaryAlgorithms/lab5/pyage-elect
	url = https://github.com/droodev/pyage-elect
[submodule "EvolutionaryAlgorithms/lab5/pyage"]
	path = EvolutionaryAlgorithms/lab5/pyage
	url = https://github.com/macwozni/pyage.git
